body {
    background: url('BSUCRm0.jpg');

}

.container {
    margin: 10rem auto 0;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.875rem;
    padding: 2rem; 
}

.timer {
    font-size: 6.25rem;
}

.but {
    background-color: transparent;
    color: white;
    border: white 1px solid;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    margin: 1.25rem 0.625rem;
    border: #fff 0.0625rem solid;
    transition: background-color 0.3s, color 0.3s; 
}

.but:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.active {
    background-color: white;
    color: black;
}

@media (max-width: 600px) {
    .container {
        width: 90%; 
        margin: 15rem auto 0; 
        padding: 1rem; 
    }

    .timer {
        font-size: 4rem; 
    }

    .but {
        margin: 0.75rem 0.325rem;
        font-size: 0.5rem; 
        padding: 0.5rem 0.8rem; 
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%; 
        margin: 15rem auto 0; 

        padding: 1.5rem; 
    }

    .timer {
        font-size: 5rem;
    }

    .but {
        margin: 0.75rem 0.2rem;
        font-size: 0.7rem; 
        padding: 0.5rem 1rem; 
    }
}



